			.mainBox_1 {
				width: 900px;
				min-height: 760px;
				background-color: #C7E0AF;
				margin: 0 auto;
				/* background: url(../img/mutou.png); */
				background: url(../img/mutou1.png) no-repeat;
				background-size: 100% 100%;
				/* background-color: #C7E0AF; */
				background-color: #FBEEDE;
				/* background-color: #FBEEDE; */
			}
			
			ul{padding: 0;list-style: none;}
			
			.IntroPage{margin: 0 auto;text-align: center;width: 600px;margin-top: 35px;}
			.IntroPageHead{text-align: left;font-size: 150%;}
			.IntroPageHead img{margin: 15px 10px 0 5px;height: 26px;}
			.IntroPageHead hr{margin: 5px;size: 2;background-color: #000000;}

			.col_left {
				width: 180px;
				height: 600px;
				/* background-color: #FAEBD7; */
				margin: 40px 0 0 50px;
				display: inline-block;
			}

			.leftSideNav {
				width: 190px;
				height: 300px;
				/* background-color: blueviolet; */
				margin: 0 auto;
				overflow: hidden;
				position: relative;
			}
			
			.leftSideNav a {
				text-decoration: none;
				color: black;

			}
			
			.leftSideNav img{
				position: absolute;
				z-index: 0;
				margin: 60px 15px;
				
			}

			.leftSideNav ul {
				padding: 0;
				list-style: none;
				margin: 100px 0 0 10px;
				position: absolute;
				z-index: 1;
			}

			.leftSideNav ul li {
				height: 30px;
				margin: 0 0 38px 43px;
				font-weight: bold;
				font-size: 100%;
				letter-spacing: 6px;
				/* color: white; */
			}
			
			.leftSideNav ul li:hover{
				font-weight: bolder;
				color: white;
			}
			
			.fastBox {
				width: 180px;
				height: 155px;
				margin: 30px 5px 0 13px;
			}
			
			.fastBox input {
				width: 75px;
				height: 70px;
				float: left;
				margin: 5px 2px 2px 6px;
			}
			
			.col_right {
				width: 620px;
				min-height: 600px;
				/* background-color: aquamarine; */
				float: right;
				margin: 90px 45px 0 0;
			}
			
			.col_right iframe {
				min-height: 500px;
				width: 620px;
				margin: 0 auto;
				border: none;
				/* background-color: chartreuse; */
			}
			
			.clear{clear: both;}
			
			.bottomPager{
				height: 75px;
				margin: 20px 0;
				/* background-color: #0000FF; */
			}
			
			.pagination {
			    display: inline-block;
			    padding-left: 0;
			    margin: 20px 0;
			    border-radius: 4px
			}
			
			.pagination li {
			    display: inline;
				margin: 0 5px;
			}
			
			.btn:hover{
				background-color: powderblue;
			}
			
			.btn.active{
				background-color: chartreuse;
			}